.tbCenter {
    text-align: center;
}

body {
    font-family: 'Noto Sans', sans-serif;
}


.container-fluid {
    padding: 20px;
}

.iitem {
    border-color: green;
    border-width: 2px;
    border-style: solid;
}

.titem {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
}

.item {
    margin: 10px;
    padding: 10px;
    float: left;
    width: 400px;
    height: auto;
    box-shadow: 5px 5px 5px #888888;
}

.item img {
    max-width: 250px;      
    height: auto;
}

#beaker {
    max-width: 1300px;
    margin: auto;
}

#mainHeader {
    background-color: grey;
}
