.tbCenter {
    text-align: center;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.masonry {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding: 20px;
}

.item {
    margin: 10px;
    float: left;
    width: 300px;
    box-shadow: 10px 10px 5px #888888;
}

.item img {
    width: auto;
    height: 100px;
    overflow: hidden;
}
