.tbCenter {
    text-align: center;
}

body {
    font-family: 'Noto Sans', sans-serif;
}


.container-fluid {
    padding: 20px;
}

.iitem {
    margin: 10px;
    padding: 10px;
    float: left;
    max-width: 300px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 5px #888888;
}

.titem {
    margin: 10px;
    padding: 10px;
    float: left;
    max-width: 300px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px 5px #888888;
}

.item img {
    width: auto;
    max-height: 150px;
}

#beaker {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}